
@{
    ViewData["Title"] = "من نحن";
    ViewData["activeNavbarItem"] = "aboutUs";
}



<div class="content-wrapper">
    <div class="fading-bg px-2 pt-5 pb-3">
        <div class="container">
            <h1 class="">مرحبًا بك في كورساتكو</h1>
        </div>
    </div>

    <div class="fading-bg pb-5">
        
        <div class="container" style="width: 93%;">
            <div class="" style="">
                <div class="d-flex align-items-center">
                    <img src="~/website/img/about/aboutus.jpg" class="my-4 rounded" style="width:100%">
                    <!-- Add margin-right to create a gap -->
                </div>
                <div class="">
                    <div class="">
                        <p class="" style="width: 100%; font-size: 18px; color: #0078B7;">
                            حيث تتاح لك فرصة الوصول إلى مجموعة متنوعة من الدورات التعليمية الرائعة عبر الإنترنت.
                            نحن نهدف إلى تحويل التعليم إلى تجربة شخصية وممتعة
                            ، حيث يمكن للأفراد من مختلف الأعمار والخلفيات الاستفادة من محتوى تعليمي عالي الجودة
                            دوراتنا تُقدم من قبل مدربين ومحترفين ذوي خبرة واسعة في مجموعة متنوعة من المجالات.
                            سواء كنت تبحث عن تطوير مهارات جديدة، أو تحسين معرفتك في مجال معين، أو حتى العمل على تحقيق أهداف مهنية،
                            فإن لدينا الدورات المناسبة لك.
                            <br>
                            تجربة التعلم معنا ليست مجرد دروس عبر الإنترنت، بل هي فرصة لاكتساب المعرفة وتوسيع آفاقك.
                            نحن نسعى جاهدين لتوفير تجربة تعليمية ممتعة ومثيرة تساعدك على تحقيق أهدافك وتطوير مهاراتك بكل سهولة.
                            <br> <br> <br>
                            <strong style="padding-right: 30px;">"       انضم إلى مجتمعنا التعليمي اليوم وابدأ رحلتك في التعلم والتطوير. نحن هنا لمساعدتك على النجاح والتفوق في مجالك المفضل        "</strong>

                        </p>
                    </div>
                </div>
            </div>
        </div>  <br> <br>
        <hr style="width: 70%; border-color: #03045E;">

        <div>
            <br> <br>
            <br><br>
            <div class="container" style="">
                <div class="row" style="">
                    <div class="col-12 col-md-6 d-flex">
                        <img src="~/website/img/about/vision-icon.svg" class="" alt="..." style="width: 100px; height: 65px; margin-right: 60px; margin-left: 20px;">

                        <p class="" style="width: 100%; font-size: 18px; color: #0078B7">
                            رؤيتنا هي أن نكون رائدين في مجال تقديم التعليم عبر الإنترنت في العالم العربي. نطمح إلى تحقيق مستوى جديد من التميز في توفير دورات تعليمية ذات جودة عالية تلبي احتياجات الطلاب وتسهم في تطويرهم الشخصي والمهني
                        </p>

                    </div>
                    <div class="col-12 col-md-6 d-flex">
                        <img src="~/website/img/about/message-icon.svg" class="" alt="..." style="width: 100px; height: 65px; margin-right: 60px; margin-left: 20px;">
                        


                            <p class="" style="width: 100%; font-size: 18px; color: #0078B7">
                                رسالتنا هي تقديم فرصة التعلم والتطوير للجميع في مناطق العالم العربي. نسعى جاهدين لجعل المعرفة متاحة ومنفتحة للجميع،
                                بغض النظر عن مستوى تعليمهم أو خلفيتهم. نحن نعمل على توفير دورات متنوعة ومميزة تمكن الأفراد من تحقيق أهدافهم والنجاح في مجالاتهم المختلفة
                            </p>

                    </div>


                </div>
            </div>



        </div>
        <br><br> <br> <br>


        <br>

        <div class="" style=" margin-left:150px ;margin-right: 150px; ">

            <section style="text-align: center; font-size: 30px; background-color: #0078B7; color: white; height: 40px;">ما نقدمه</section>


            <p>
                <ul style="font-size: 20px; color:#03045E;">
                    <li>
                        <b>الدورات والمحتوى التعليمي</b>
                        <p style="font-size: 18px; color:#0078B7;margin-right: 8px; margin-left: 8px;">
                            نقدم مجموعة متنوعة من الدورات التعليمية تغطي مجموعة واسعة من المواضيع والمجالات.
                            سواء كنت تبحث عن تطوير مهارات جديدة، أو تعزيز معرفتك في مجال معين، أو تحقيق أهداف مهنية،
                            فإننا نقدم محتوى تعليمي متميز يلبي احتياجاتك
                        </p>
                    </li>
                    <br>
                    <li>
                        <b>التنوع والاختيار</b>
                        <p style="font-size: 18px; color:#0078B7; margin-right: 8px; margin-left: 8px;">
                            نحن ندرك أن الطلاب متنوعون في اهتماماتهم وأهدافهم التعليمية. لهذا السبب،
                            نسعى جاهدين لتوفير مجموعة متنوعة من الدورات تشمل العديد من المواضيع.
                            سواء كنت تبحث عن دورات في التكنولوجيا، العلوم، الفنون، الأعمال، أو أي مجال آخر، فإن لدينا ما تحتاجه
                        </p>
                    </li>
                    <br>
                    <li>
                        <b>معلمين محترفين</b>
                        <p style="font-size: 18px; color:#0078B7; margin-right: 8px; margin-left: 8px;">
                            دوراتنا تُقدم من قبل معلمين ومحترفين ذوي خبرة واسعة في مجموعة متنوعة من المجالات.
                            نحن نضمن أنك ستتعلم من أفضل الخبراء في الميدان وتستفيد من معرفتهم وخبرتهم
                        </p>
                    </li>
                    <br>
                    <li>
                        <b>  التعلم الشخصي</b>
                        <p style="font-size: 18px; color:#0078B7; margin-right: 8px; margin-left: 8px;">
                            نسعى جاهدين لجعل عملية التعلم ممتعة وشخصية.
                            نقدم أدوات تفاعلية ومواد تعليمية تسهل على الطلاب فهم المواد وتطبيق المفاهيم بشكل فعال
                        </p>
                    </li>
                    <br>
                    <li>
                        <b> تقدم مستدام</b>
                        <p style="font-size: 18px; color:#0078B7; margin-right: 8px; margin-left: 8px;">
                            نحن ملتزمون بتقديم محتوى تعليمي مستدام يتطور باستمرار.
                            نقوم بتحديث وتحسين دوراتنا بناءً على ردود الفعل وأحدث التطورات في مجالاتنا
                        </p>
                    </li>

                </ul>


            </p>




        </div>









    </div>
</div>