@model Student

@{
    ViewData["Title"] = "تعديل طالب";
}

<section class="container content-header mb-2">
	<div class="px-3 px-sm-2 px-lg-3">
		<div class="row mt-3 mb-1">
			<h1 class="arabic">تعديل طالب</h1>
		</div>

		<div class="row">
			<ol class="breadcrumb arabic sm">
				<li class="breadcrumb-item">
					<a asp-area="Admin" asp-controller="home" asp-action="Index">الصفحة الرئيسية</a>
				</li>
				<li class="breadcrumb-item">
					<a asp-area="Admin" asp-controller="courses" asp-action="Index">الطلاب</a>
				</li>
				<li class="breadcrumb-item">
					تعديل طالب
				</li>
			</ol>
		</div>
	</div>

</section>
<section class="content pb-5">
	<div class="container">
		<form method="post" asp-action="Edit" class="card">
			<div class="card-body">
				<div class="row">

					<div class="col-12 col-md-6 form-group">
						<label for="fullName">
							<span class="arabic">الاسم بالكامل</span>
						</label>
						<span asp-validation-for="FullName" class="text-danger"></span>
						<input asp-for="FullName" type="text" name="fullName" class="form-control arabic">
					</div>


					<div class="col-12 col-md-6 form-group">
						<label for="nationalId">
							<span class="arabic">الرقم القومي</span>
						</label>
						<span asp-validation-for="NationalId" class="text-danger"></span>
						<input asp-for="NationalId" type="text" name="nationalId" class="form-control arabic">
					</div>

					<div class="form-group col-12 col-sm-6 mt-2">
						<label for="gender" class="form-label">النوع</label>

						<select asp-for="Gender" name="gender" id="gender" class="form-control search-select">
							<option selected disabled>إختر النوع</option>
							<option value="m">ذكر</option>
							<option value="f">أنثى</option>
						</select>

						<div class="form-text text-danger">
							<span asp-validation-for="Gender" id="error_gender"></span>
						</div>
					</div>

					<div class="form-group col-12 col-sm-6 mt-2">
						<label for="birthDate" class="form-label">تاريخ الميلاد</label>
						<input asp-for="DateOfBirth" type="date" name="birthDate" id="birthDate"
							   class="form-control ltr-right"
							   placeholder="dd/MM/yyyy" value="2000-01-01">

						<div class="form-text text-danger">
							<span asp-validation-for="DateOfBirth" id="error_birthDate"></span>
						</div>
					</div>

					<div class="col-12 col-md-6 form-group">
						<label for="email">
							<span class="arabic">البريد الالكتروني</span>
						</label>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-envelope"></i>
								</span>
							</div>
							<span asp-validation-for="Email" class="text-danger"></span>
							<input asp-for="Email" type="text" name="email" class="form-control arabic">

						</div>
					</div>


					<div class="col-12 col-md-6 form-group">
						<label for="phoneNumber">
							<span class="arabic">رقم الهاتف</span>
						</label>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-phone"></i>
								</span>
							</div>
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							<input asp-for="PhoneNumber" type="text" name="phoneNumber" class="form-control arabic">
						</div>
					</div>
					<fieldset class="row my-4" id="accountDetails">
						<label for="accountDetails" class="h5">
							تفاصيل حساب الطالب
						</label>

						<div class="form-group col-12 mt-2">
							<label for="username" class="form-label">اسم المستخدم</label>
							<input asp-for="UserName" type="text" name="username" id="username"
								   class="form-control ltr-right">

							<div class="form-text text-danger">
								<span asp-validation-for="UserName" id="error_username"></span>
							</div>
						</div>


						<div class="form-group col-12 col-sm-6 mt-2">
							<label for="" class="form-label">كلمة المرور</label>
							<input@* asp-for="" *@ type="password" name="password" id="password" class="form-control ltr-right">

								<div class="form-text text-danger">
									<span @* asp-validation-for="" *@ id="error_username"></span>
								</div>
						</div>


					</fieldset>




				</div>
			</div>

			<div class="card-footer">
				<div class="">
					<input type="submit" value="تعديل" class="btn btn-primary px-3 arabic">
					<a asp-action="Index" class="btn btn-outline-danger px-3 arabic">إلغاء</a>
				</div>
			</div>
		</form>

	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

