.drop-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.brand-container {
    background-color: #26262E;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: linear-gradient(90deg,
            #DEF8FE,
            #ECF5F4 40%,
            #C3D8F5 75%,
            #CDC8FC);
    min-height: 100vh;
}

.content-wrapper .fading-bg:first-child {
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.73));
}

.content-wrapper .fading-bg:not(:first-child) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.73),
            rgba(255, 255, 255, 0.83));

    min-height: 100vh;
}

.footer {
    background-color: #24253B;
}

.brand-full {
    float: left;
    direction: ltr !important;
    display: inline;
}

.brand-full .top {
    width: fit-content;
    display: flex;
}

.brand-full img {
    height: 72px;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
    margin-right: -10.5px;
}

.brand-full span {
    font-family: Cairo;
    font-size: 58px;
    letter-spacing: -2.5px;
    line-height: 1.44;
}

.brand-full .bottom {
    font-size: 24px;
    text-align: center;
    line-height: 1;
}

.hero-text .heading {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 25px;
}

.hero-text .subheading {
    font-size: 23px;
    font-weight: 300;
}

@media screen and (max-width: 440px) {
    .hero-text .heading {
        font-size: 28px;
    }

    .hero-text .subheading {
        font-size: 21px;
    }
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-call-to-action {
    display: flex;
    justify-content: center;
}

.bg-primary-gradient {
    background-image: linear-gradient(100deg, #1DA7EA, #2D64CF);
}

.hero-call-to-action .btn {
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 24px;
}

.nav-item {
    text-align: center;
    align-items: center;
    display: inline-flex;
}

.card-fixed {
    width: 250px;
    min-height: 250px;
    margin: 10px;
}

.card-fixed.small {
    width: 200px;
    min-height: 200px;
}

a.card-fixed {
    text-decoration: none;
}

.card-image {
    height: 160px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small .card-image {
    height: 120px;
    padding: 20px 30px 0;
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
}

.card-fixed .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}

.cards-container {
    display: flex;
    margin: -10px;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .cards-container {
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 460px) {
    .cards-container.small {
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }
}

.scale-on-hover {
    transition: all 0.15s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.07);
}

.footer {
    padding-bottom: 0;
}

.footer a.nav-link {
    color: white;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 0;
}

.footer a.nav-link:hover {
    color: #aaa;
}

.footer h3 {
    padding: 30px 0 20px;
}

.footer p {
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
}

.icons {
    margin: 0 -5px;
}

.icons a {
    text-decoration: none;
    margin: 0 5px;
}

.icons svg {
    width: 40px;
}

.ltr-right {
    direction: ltr;
    text-align: right;
}

@media screen and (min-width: 768px) {
    .ltr-right-md {
        direction: ltr;
        text-align: right;
    }
}

.copy-notice {
    font-weight: 400;
    font-size: 14px;
    color: #DADADA;
}

.glow-on-hover {
    transition: all 0.2s ease-in-out;
}

.glow-on-hover:hover {
    filter: brightness(1.1);
}


/* Login */

.nav-login-button {
    background-color: transparent;
    border: none;
    margin-right: 25px;
}

.nav-login-button.active {
    background-color: #0000000a;
}

.login-page-card {
    background-color: white;
    padding: 30px;
    max-width: 380px;
    border-radius: 6px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.10);
    margin: 50px auto;
}

.login-page-header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}


/* Course */

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .thumbnail {
        width: 70px;
        height: 70px;
    }
}

.max-width-1 {
    max-width: 500px;
}

.max-height-5 {
    max-height: 26px;
}

.color-dark-blue {
    color: rgb(26, 68, 78);
}

/* Logged In Sidebar */

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
}

.page-wrapper {
    flex-grow: 1;
}

:root {
    --sidebar-width: 75px;
    --profile-width: 50px;
}

.sidebar-wrapper+.page-wrapper {
    margin-left: var(--sidebar-width) !important;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D1DCE6;
    color: #3F3F4D;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.sidebar-item {
    width: var(--sidebar-width);
    padding: 8px 0;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.16));
}

a.sidebar-item {
    color: inherit;
    text-decoration: inherit;
}

a.sidebar-item.active {
    background-color: rgba(255, 255, 255, 0.5);
}

a.sidebar-item:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.04);
}

.sidebar-item .title {
    font-size: 12px;
}

.sidebar-item .profile {
    width: var(--profile-width);
    height: var(--profile-width);
    border-radius: calc(var(--profile-width) / 2);
}

.profile {
    margin: 10px;
}

.profile {
    width: var(--profile-width);
    height: var(--profile-width);
    border-radius: calc(var(--profile-width) / 2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.profile img {
    width: var(--profile-width);
    height: var(--profile-width);
    border-radius: 25px;
}

.profile:hover img {
    filter: brightness(0.97) contrast(0.96);
}

.profile button {
    border: none;
    background: none;
    padding: 0;
}

.sidebar-wrapper {
    z-index: 20;
}

.page-wrapper {
    z-index: 10;
}

.profile .dropdown-menu {
    position: fixed !important;
    left: var(--sidebar-width) !important;
    top: 0 !important;
    transform: none !important;
    margin: 8px !important;
}

.profile .dropdown-menu {
    padding-top: 0;
}

.profile .dropdown-header {
    background-color: #E3EAF0;
    color: #3F3F4D;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 4px;
}

.profile .dropdown-item {
    color: #3F3F4D;
    font-size: 14px;
    padding: 10px 15px;
}

.profile .dropdown-item i {
    width: 15px;
    text-align: left;
    margin-left: 5px;
}

@media screen and (max-width: 576px) {
    :root {
        --sidebar-width: 50px;
        --profile-width: 38px;
    }

    .sidebar-wrapper+.page-wrapper {
        margin-bottom: var(--sidebar-width) !important;
        margin-left: 0 !important;
    }

    .sidebar {
        position: fixed;
        top: initial;
        bottom: 0;
        left: 0;
        right: 0;
        height: var(--sidebar-width);
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding-right: 8px;
        background-color: #43444F;
        color: white;
    }

    .sidebar-item {
        height: var(--sidebar-width);
        width: initial;
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        filter: inherit;
    }

    .sidebar .nav {
        flex-direction: row !important;
    }

    .sidebar .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sidebar .icon svg {
        height: calc(var(--profile-width) - 9px);
    }

    .sidebar-item .title {
        font-size: 9px;
        font-weight: 500;
    }

    a.sidebar-item.active {
        background-color: rgba(0, 0, 0, 0.16);
    }

    a.sidebar-item:hover:not(.active) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .profile .dropdown-menu {
        position: fixed !important;
        bottom: var(--sidebar-width) !important;
        top: inherit !important;
        left: 0 !important;
        transform: none !important;
        margin: 8px !important;
    }

    .profile .dropdown-header {
        background-color: #7A7C94;
        color: white;
        font-size: 15px;
    }
}

/* User Quotes */

.avatar img {
    width: 100px;
}

/* Achievements Line */

.all {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

.container-achi {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    text-align: right;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container-achi:nth-child(2) {
    animation-delay: 0s;
}

.container-achi:nth-child(3) {
    animation-delay: 2s;
}

.container-achi:nth-child(4) {
    animation-delay: 3s;
}

.container-achi:nth-child(5) {
    animation-delay: 4s;
}

.text-box {
    padding: 20px 30px;
    background: white;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    border: 1px solid var(--bs-primary);
}

.left-container {
    left: -50%;
}

.right-container {
    left: 0;
}

.container-achi img {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    left: -20px;
    top: 32px;
    z-index: 10;
    background-color: white;
}

.left-container img {
    right: -20px;
}

.timeline .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: linear-gradient(110deg, #1DA7EA, #2D64CF);
    left: 50%;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--bs-primary);
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--bs-primary);
    left: -15px;
}

@media screen and (max-width: 992px) {
    .timeline {
        margin: 0 auto;
    }

    .timeline .center-line {
        right: 31px;
    }

    .container-achi {
        width: 100%;
        padding-right: 80px;
        padding-left: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-container,
    .left-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        right: 10px;
    }

    .left-container img {
        left: 376px;
    }

    .right-container-arrow {
        border-left: 15px solid var(--bs-primary);
        border-right: 0;
        right: -15px;
    }

    .left-container-arrow {
        transform: scale(-1, 1);
        left: 332px;
        border-right: 15px solid var(--bs-primary);
        border-left: 0;
    }
}

/* My Sessions */

.session-card img {
    width: 100px;
    height: 100px;
}

.session-card ul.details {
    list-style: none;
    padding-right: 10px;
}

.session-card .details .title {
    font-weight: 600;
}

.session-card td.title {
    font-weight: 600;
    padding-left: 10px;
}

.session-card td {
    vertical-align: top;
}

a.unstyled:link, a.unstyled:hover, a.unstyled:active, a.unstyled:visited {
    color: inherit;
    text-decoration: inherit;
}

/* My Courses */

.course-card img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .course-card img {
        width: 120px;
        height: 120px;
    }
}

/* My Profile */

.profile-lg {
    width: calc(var(--profile-width) * 2);
    height: calc(var(--profile-width) * 2);
    border-radius: var(--profile-width);
}