.wave .header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgb(137, 126, 184) 0%, rgb(114, 173, 180) 100%);
    color: white;
}

.wave .inner-header {
    height: 15vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wave .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.vave .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.wave .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.wave .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.wave .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.wave .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.wave .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .wave .content {
        height: 30vh;
    }
}