@{
	ViewData["Title"] = "لوحة القيادة";
}

<div class="justify-content-center container mt-2">
	<iframe title="Project_Courses N" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=0c4086cc-95a3-402b-8db8-314f6cce62c8&autoAuth=true&ctid=cf7221cd-3bc6-4101-8762-54f44f3bc89a" frameborder="0" allowFullScreen="true"></iframe> 
	<iframe title="Courses project"   width="100%" height="541.25" src="https://app.powerbi.com/view?r=eyJrIjoiOTIxNDhlYWQtNGYxYy00NTAzLWI0MTItYmIwNjQzZThlYjEyIiwidCI6ImNmNzIyMWNkLTNiYzYtNDEwMS04NzYyLTU0ZjQ0ZjNiYzg5YSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
</div>
